@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i');

#__bs_notify__ {
  display: none !important;
}

// Typography
body {
  font-family: Chivo;
  font-weight: 300;
  line-height: 1.8;
  font-size: 18px;
}

cite {
  color: #E7A750;
  font-style: normal;
}

.block {
  padding: 10em 0;
}

figure {
  margin: 0;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


.navbar {
  font-weight: 400;
  box-shadow: 0 0 50px 0 rgba(76, 36, 122, 0.05);

  a.navbar-brand {
    opacity: .3;
    text-transform: uppercase;
    letter-spacing: .2em;
  }
}

p {
  margin: 1em 0;
}

// Responsive font size
@media screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
}


// Sections

// Reviews
.review {
  cite {
    font-weight: 500;
    &:before {
      content: '\2014  ';
    }
  }
}
  

#cover {
  background-color: #FBFCFE;
  padding-top: 150px;
  margin-bottom: 250px;

  .title {
    text-align: center;
    margin-bottom: 150px;

    cite {
      color: #E7A750;
      font-size: 40px;
      text-transform: uppercase;
      letter-spacing: .1em;
      font-weight: 300;
      font-style: normal;
    }

    h1 {
      font-size: 6.66em;
      font-weight: bold;
    }
  }

  figure {
    margin-bottom: -400px;
    text-align: center;

    img {
      box-shadow: 0 10px 100px 0 rgba(183,61,40,0.45);
      max-width: 100%;
      margin-bottom: 3em;
    }
  }

}

#synapsis {
  padding: 10em 0;
  background-color: #000;
  background-image: url(../images/cosmonaut.jpg), url(../images/mars.jpg);
  background-repeat: no-repeat, no-repeat;
  background-size: 264px, 100%;
  background-position: 5% 10%, bottom center;
  
  @media screen and (max-width: 700px) {
    background-size: 0, 100%;
    padding-top: 5em;
  }
  color: #fff;

  font-size: 1.1em;
  line-height: 2;

  h2 {
    color: #E7A750;
    line-height: 1.5;
    margin-bottom: 2em; 
  }
}


#author {

  figure {
    max-width: 60%;
    text-align: center;
    
    img {
      max-width: 100%;
      border-radius: 100%;
    }

    figcaption {
      margin-top: 1em;
      opacity: .6;
    }
  }

  article {
    font-size: 1.3333em;
  }
  
  //
}


#surviving {
  padding: 0;

  .heading {
    background-color: #E7A750;
    background-image: url(../images/astronaut.jpg);
    background-size: 100%;
    background-attachment: fixed;
    color: #fff;
    padding-top: 180px;
    text-align: center;

    h2 {
      color: #000;
      margin-bottom: 1em;
      font-weight: 600;
      font-size: 50px;
    }
  }

  .nav-tabs {
    justify-content: center;
    border-bottom: 0;
    padding-top: 100px;
    
    .nav-link {
      font-size: 2em;
      font-weight: 500;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      border: 0;

      &.active {
        color: #fff;
        background: #000;
        &:hover {
          background: #000;
        }
        border: 0;
      }

      &:hover {
        border: 0;
        background-color: rgba(0,0,0,0.1);
      }
    }
  }


  .tab-content {
    background: #000;
  }
  .surviving-content {
    background: #000;
    color: #fff;

    img {
      max-width: 50px;
    }

    h2 {
      color: #E7A750;
      margin-bottom: 1em;
      margin-top: .25em;
    }
    p {
      opacity: .6;
    }
    padding: 200px 0;
  }
  
}





#buynow {
  background: #FBFCFE;
  text-align: center;
  padding: 5em 0;

  figure {
    text-align: center;
    margin-bottom: 2em;

    img {
      max-width: 80%;
      box-shadow: 0 5px 50px 0 rgba(183,61,40,0.45);
      border-radius: 4px;
    }
    
    figcaption {
      margin-top: 1em;
      opacity: .4;
    }
  }

  .btn small {
    font-weight: 300;
  }

  .price {
    &:before {
      content: '$';
      font-size: .7em;
    }
  }
}


#qa {
  padding: 5em 0;

  .card {
    margin: 1em 0;
    line-height: 1.6;

    .card-header {
      background-color: #FBFCFE;
      color: inherit;
      font-weight: 400;
      &:hover {
        text-decoration: none;
      }
    }
  }

  cite:before {
    content: '\2014  ';
  }
}


// Publisher
#publisher {
  padding: 5em 0;
  background: #FBFCFE;

  figure {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  img {
    mix-blend-mode: darken;
  }
}


// Footer
footer {
  background: #212529;
  color: #777;
  padding: 2em 0;
  font-size: .9em;
  text-align: center;
}
